.App{
  background: #DDDDDD;
}

.container-div{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.col{
  width:100%;
  display: flex;
  flex-direction: column;
}
.hideable{
  width: 50%;
  padding: auto;
  display: block;
}
.grouping{
  width: 100%;
}